---
title: Findem
layout: default
---

<div>
  <p id="counter"></p>
  <a id="reset" href="/RoadTrips/findem.html">Reset</a>
  <ul id="unfound">
  {% for state in site.data.states %}
    <li id="{{ state.NAME }}" statename="{{ state.NAME }}" class="findemItem unclicked" onclick="switchClicked(this)">{{ state.NAME }}</li>
  {% endfor %}
  </ul>
  <ul id="found">
  </ul>
</div>

<script>
  // var allStates = new Set([{% for state in site.data.states %} {{ state.NAME }}, {% endfor %}]);
  var counter = document.getElementById("counter");
  var states = new Set(window.location.search.split("+").map(v => v.replaceAll("?", "").replaceAll(" ", "_")));
  states.delete("");
  states.forEach(v => {
    document.getElementById(v.replaceAll("_", " ")).classList.replace("unclicked", "clicked");
  });
  var count = states.size;
  
  counter.innerHTML = `Found ${count}/65.`


  function switchClicked(el) {
    if (el.classList.contains("unclicked")) {
      el.classList.replace("unclicked", "clicked");
      states.add(el.getAttribute("statename").replaceAll(" ", "_"));
      window.history.pushState("", "", "?" + Array.from(states).join("+"));
      count += 1;
    } else {
      el.classList.replace("clicked", "unclicked");
      states.delete(el.getAttribute("statename").replaceAll(" ", "_"));
      window.history.pushState("", "", "?" + Array.from(states).join("+"));
      count -= 1;
    }

    counter.innerHTML = `Found ${count}/65.`
  }
  
</script>
