.sudoku.board {
  border: 0px solid black;
  padding: 10px;
  margin: 0px;
  display: grid;
  width: 70vh;
  height: 70vh;
}

.sudoku.cell {
  border: 0.5px solid black;
  padding: 2px;
  margin: 0px;
}

.sudoku.cell.selected {
  background-color: orange;
}

.sudoku.cell.constant {
  background-color: gray;
}
